@using CloudPhoto.Web.ViewModels.Categories
@model IEnumerable<ListCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of image Category</h1>

<p>

</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <div class="text-right">
                    <a asp-action="Create">
                        <i class="fas fa-plus-square"></i>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="float-right">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
