@using CloudPhoto.Web.ViewModels.Images
@model ImagePreviewViewModel

@{
    string likeIconId = Model.Id + "likeIconId";
    int userIsLike = Model.IsLike ? 0 : 1;

    string likeIconColor = string.Empty;
    if (Model.IsLike)
    {
        likeIconColor = "red";
    }
}

@*change position  on close button with css*@
<button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row container">
    <div id="authorSection" class="col-md-6">
        <div class="row container">
            <div class="col-3 row-cols-2">
                <a class="nav-link" asp-controller="Users" asp-action="Index" asp-route-id=@Model.AuthorId>
                    <img src=@Model.AuthorAvatarUrl width="60" height="60"
                         class="rounded-circle">
                </a>
            </div>
            <div class="col-md-9">
                <a class="nav-link" asp-controller="Users" asp-action="Index" asp-route-id=@Model.AuthorId>
                    @Model.AuthorName
                </a>
                <p class="text-truncate">@Model.AuthorEmail</p>
            </div>
        </div>
    </div>
    <div id="imageActionSection" class="col-md-6 justify-content-center">
        @{if (!string.IsNullOrEmpty(Model.PayPalEmail))
            {
                <form method="post" asp-controller="users" asp-action="donate" asp-route-id=@Model.AuthorId>
                    <input type="submit" class="btn btn-outline-dark float-left m-1" value="Donate" alt="Support this photographer with a PayPal donation">
                </form>
            }
        }
        <input type="button" class="btn btn-outline-dark float-left m-1" value="Follow" />

        <button id="likeButton" type="button" class="btn btn-outline-dark float-right m-1"
                onclick="mySendImageVoteOnPreviewForm(this, '@likeIconId', '@Model.Id', @Model.LikeCount, @userIsLike); return false;">
            <i id=@likeIconId class="fas fa-heart" style="color:@likeIconColor;"></i>
            @Model.LikeCount likes
        </button>
        <button id="likeButton1" type="button" class="btn btn-outline-dark float-right m-1">
            <i id=@likeIconId class="fas fa-download"></i>
            Download
        </button>

    </div>
</div>
<div class="justify-content-center m-preview-container">
    <img id="thumbnailImage" class="img-fluid mx-auto d-block "
         src=@Model.ThumbnailImageUrl>

    @{if (Model.ImageIndex != 1)
        { <a id="leftArrow" href="#" class="my-left-arrow" onclick="navigationToLeft(); return false">
                <i class="fas fa-chevron-left"></i>
            </a>
        }
    }

    @{if (!Model.IsEndedImage)
        {
            <a id="rightArrow" href="#" class="my-right-arrow" onclick="navigationToRigth(); return false">
                <i class="fas fa-chevron-right"></i>
            </a>
        }
    }

</div>
