@using CloudPhoto.Web.ViewModels.Users
@using CloudPhoto.Common;
@using System.Security.Claims;

@model UserPreviewViewModel

@{
    int imagePerPage = GlobalConstants.ImagePerPage;
}

@*use to show alets (myAlerts.js)*@
<div id="myMessageContainer">
</div>

<div class="modal modal-full fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalPartialView">
                    @*here must show _PreviewImagePartial*@
                </div>
            </div>
        </div>
    </div>
</div>

@{
    string avatarUrl;
    if (string.IsNullOrEmpty(Model.UserAvatar))
    {
        avatarUrl = "/icon/emptyAvatar.png";
    }
    else
    {
        avatarUrl = @Model.UserAvatar;
    }

    string followBtnText = "Follow";
    if (Model.IsFollowCurrentUser)
    {
        followBtnText = "Following";
    }
    else
    {
        followBtnText = "Follow";
    }
}

<div>
    <div class="row container-fluid">
        <div id="userAvatar" class="h-100 col-lg-5 col-xl-5 col-md-5 col-sm-12 d-flex justify-content-lg-end justify-content-xl-end justify-content-md-end justify-content-sm-center justify-content-center">
            <form id="dragFileForm" method="post" enctype="multipart/form-data">
                <img id="avatarImage" src=@avatarUrl referrerpolicy="no-referrer" width="60" height="60"
                     class="rounded-circle" alt=@Model.DisplayUserName>
            </form>
        </div>
        <div class="row no-gutters col-xl-7 col-lg-7 col-md-7 col-sm-12 d-flex justify-content-lg-start justify-content-xl-start justify-content-md-center justify-content-sm-center justify-content-center ">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 d-flex justify-content-lg-start justify-content-xl-start justify-content-md-center justify-content-sm-center justify-content-center">
                <p class="text-dark text-truncate h4">@Model.DisplayUserName</p>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 d-flex justify-content-lg-start justify-content-xl-start justify-content-md-center justify-content-sm-center justify-content-center">
                @if (Model.Id != this.User.FindFirst(ClaimTypes.NameIdentifier).Value)
                {
                    @if (!string.IsNullOrEmpty(Model.PayPalEmail))
                    {
                        <form method="post" asp-controller="users" asp-action="donate" asp-route-id=@Model.Id>
                            <input type="submit" class="btn btn-sm btn-outline-dark m-1" value="Donate" alt="Support this photographer with a PayPal donation">
                        </form>
                    }

                    <button id="followButton" type="button" class="btn btn-sm btn-outline-dark m-1"
                            onclick="myInvokeSubscribe(this, '@Model.Id'); return false;">
                        @followBtnText
                    </button>
                }
                else
                {
                    <form id="dragFileForm" method="post" enctype="multipart/form-data">
                        <label for="file-upload" class="btn btn-sm btn-outline-dark m-1 custom-file-upload" >
                            Update avatar
                        </label>
                        <input id="file-upload" type="file" style="display: none;" onchange="helper.uploadAvatar('file-upload');" />
                    </form>
                }
            </div>
            <div class="col-12">
                <p class="text-center">@Model.Description</p>
            </div>
        </div>
    </div>
</div>

<form id="keyForm" method="post"></form>

<div class="row container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="uploadTab" class="nav-link active" href="#" data-toggle="tab" role="tab" onclick="helper.getUploadImages(this);">
                Upload Images
            </a>
        </li>
        <li class="nav-item">
            <a id="likeTab" class="nav-link" href="#" data-toggle="tab" role="tab" onclick="helper.getLikeImages(this);">
                Like Images
            </a>
        </li>
        <li class="nav-item">
            <a id="followersTab" class="nav-link" href="#" data-toggle="tab" role="tab" onclick="helper.getFollowers(this);">
                @Model.CountFollowers Followers
            </a>
        </li>
        <li class="nav-item">
            <a id="followingTab" class="nav-link" href="#" data-toggle="tab" role="tab" onclick="helper.getFollowing(this);">
                @Model.CountFollowing Following
            </a>
        </li>
    </ul>
</div>

<br>

<div id="containerImages" class="col-md-12">
    <div id="partialView" class="row">
    </div>
</div>

<div id="progress" class="text-center" style="display: none;">
    <div class="spinner-border a" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/myFloatPaging.js"></script>
    <script type="text/javascript" src="~/js/imageRalateByUserCookieData.js"></script>
    <script type="text/javascript" src="~/js/userIndexView.js"></script>
    <script type="text/javascript" src="~/js/mySubscribe.js"></script>
    <script>
        var pagingData = new imageRelationByUserCookieHelper(@imagePerPage, '@Model.Id',"uploads");
        var helper = new UserIndexViewHelper(pagingData);
    </script>
}
